body{
    height: 100%;
    width: auto;
    background-color: silver;
}

.task1{
    display: flex;
    justify-content: center;
    
}

.box-section{
    
    display: block;
    justify-content: center; 
    align-items: center;
    text-align: center;  
    margin: 120px 140px;
}

.box-container{
            display: flex;
            grid-template-columns: 2 1fr;        
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
}


.box-container-up{
    border: 2px solid aqua;
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.box-container-dwon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid aqua;
    height: 10rem;
    width: 20rem;
    margin: 20px;
}

.box{
    border: 3px solid darkkhaki;
    height: 60px;
    width: 80px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box-container-dwon p{
    height: 50px;
    width: 250px;


}

/* simple media query */


/* small device */
@media screen and (max-width: 576px) {
    .box-container{
        
        flex-direction: column-reverse;
        gap: 20px;

    }

    .box-container-up{
        background-color: rgb(160, 215, 240);
        margin: 0;
        min-height: 50vh;
        align-items: center;
        text-align: center;
    }

    .box-container-dwon{
        background-color: rgb(244, 245, 189);
        margin: 0;
        min-height: 50vh;
        align-items: center;
        text-align: center;
        
    }

    .box{
        background-color: #f9eaea;
    }

    .box-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        min-height: 100vh;
    }
    
}



/* card setion */

.card-container{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 120px 140px;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 50%;
    
}

.food{
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;

}

.food img{
    width: 100%;
}

/* small device for reponsive */

@media screen and (max-width: 576px) {
    .card{
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        width: 100%;
        
    }

    .food{
        background-color: beige;
        
    }

    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        min-height: 100vh;
    }
    
}

/* medium device for reponsive */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .card{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        width: 120%;
    
    }

    .food{
        background-color: #c5f3d6;
    }

    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        min-height: 100vh;
    }
}

